#left
  #char
    .box
      = @char
  %ul.char-info
    %li
      Integer :
      %input{:type => :text, :readonly => true, :value => "0x#{@code16.rjust(4, '0')}", :onclick => '$(this).select();'}
    %li
      String :
      %input{:type => :text, :readonly => true, :value => "\"\\u#{@code16.rjust(4, '0')}\"", :onclick => '$(this).select();'}

#right
  .info.fav-count
    - if @fav
      %a{:href => "/#{@code16}/unfav", :class => 'fav'} ♥
    - else
      %a{:href => "/#{@code16}/fav", :class => 'not-fav'} ♥
    = @favs.count

  .info
    %a{:href => 'http://twitter.com/share',
       :class => 'twitter-share-button',
       :'data-text' => @char,
       :'data-count' => 'horizontal'} Tweet
    %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}

  .fav-users
    - @favs.each do |fav|
      .fav-user><
        = user_link fav, :image => :n
    - (60 - @favs.count).times do
      .dummy-fav-user><
