#left
  #char= @char

#right
  .info
    - if @fav
      %a{:href => "/#{@code16}/unfav", :class => 'fav'} ♥
    - else
      %a{:href => "/#{@code16}/fav", :class => 'not-fav'} ♥
    .fav-count= @favs.count
  .fav-users
    - @favs.each do |fav|
      = user_link fav, :image => :m